@import 'bootstrap/scss/bootstrap';

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.form-group__label {
  font-weight: bold;
}
.invalid input {
  border: 1px solid red;
}
.invalid :focus-visible {
  outline: 2px solid crimson;
}

label input {
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
}

fieldset {
  padding-bottom: 50px;
}

.text-end {
  width: 100px;
}
