.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  &__label {
    font-weight: bold;
  }
}
.invalid {
  input {
    border: 1px solid var(--bs-danger);
  }
}

.active td {
  background: var(--bs-success-bg-subtle);
}
.inactive {
  opacity: 0.4;
}

.card {
  padding: 20px;
}
